{% extends "base.html" %}
{% load static %}
{% block content %}

{% include "./includes/header.html" %}
<div class="container-fluid mt-3 d-flex flex-wrap justify-content-center gap-3">
    {% for post in posts %}
    <div class="card" style="width:400px">
        <img class="card-img-top" src="{% static 'blogs/images/' %}{{ post.image_name }}" alt="Card image" style="width:100%">
        <div class="card-body">
            <h4 class="card-title">{{ post.title }}</h4>
            <p class="card-text">{{ post.excerpt }}</p>
            <a href="{% url 'post-detail-page' post.slug %}" class="btn btn-primary">See details</a>
        </div>
    </div>
    
    {% endfor %}
</div>
{% include "./includes/footer.html" %}

{% endblock content %}